@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: theme('colors.primary.DEFAULT');
    --secondary: theme('colors.secondary.DEFAULT');
    --secondary-hover: theme('colors.secondary.hover');
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 100svh;
    width: 100svw;
    max-height: 100svh;
    max-width: 100svw;
    overflow: hidden;
}

#map-container-main {
    width: 100%;
    height: 100svh;
    max-width: 100%;
    max-height: 100svh;
}

/* Z Indexes across app */
/* Collapsible component button also manages its own z index
   currently set at 2
*/
div#side-panel {
    z-index: 3;
}

div#side-panel-control {
    z-index: 1;
}

div#tools {
    z-index: 1;
}

#modal-overlay {
    z-index: 4;
}

#loading-bar {
    z-index: 4;
}

div#scrollable-side-panel {
    max-height: calc(100svh - 250px);
}

div#table-wrapper {
    max-height: calc(100svh - 166px);
}

thead#table-header {
    box-shadow: inset 0 0px 0 #00000000, inset 0 -2px 0 #d1d5db;
}

#date-range-columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

button.mapboxgl-popup-close-button {
    font-size: x-large;
    right: 3px;
}

input[type='checkbox'] {
    accent-color: var(--secondary);
}

input[type='checkbox']:hover,
input[type='checkbox']:active {
    accent-color: var(--secondary-hover);
}

/* Readded hyperlink styling to match web defautls */
a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

a:visited {
    color: purple;
}

a:hover {
    color: darkblue;
    text-decoration: underline;
}

a:active {
    color: red;
}

/* Custom width for when date range inputs need to switch row -> column */
@media (min-width: 1450px) {
    #date-range-columns {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* lg width */
@media (min-width: 1024px) {
    div#scrollable-side-panel {
        height: calc(100svh - 206px);
        max-height: calc(100svh - 206px);
    }

    div#table-wrapper {
        max-height: calc(100svh - 115px);
    }
}

/* Animation for Spinner.tsx */
.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Animation for Linear.tsx */
.animate-linear {
    animation: linear 1s linear infinite;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip .tooltip-text.tooltip-right {
    top: -5px;
    left: 105%;
}

.tooltip .tooltip-text.tooltip-left {
    top: -5px;
    right: 105%;
}

.tooltip .tooltip-text.tooltip-top {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltip-text.tooltip-bottom {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltip-text.tooltip-left::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.tooltip .tooltip-text.tooltip-right::after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip .tooltip-text.tooltip-top::after {
    content: ' ';
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip .tooltip-text.tooltip-bottom::after {
    content: ' ';
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text,
.tooltip:focus .tooltip-text {
    visibility: visible;
}

@keyframes linear {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
