@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}

#map-container-main {
    width: 100%;
    height: 100vh;
}

div#sidePanel {
    z-index: 1;
    overflow: hidden;
    display: flex;
    background-color: #46ab9d;
}

div#scrollable-sidepanel {
    overflow-y: auto;
    height: calc(100vh - 40px);
}

div#tools {
    z-index: 1;
}

#date-range-columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 600px) {
    #date-range-columns {
        grid-template-columns: repeat(2, 1fr);
    }
}

.mapboxgl-popup-close-button {
    font-size: x-large;
    right: 3px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes linear {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.animate-linear {
    animation: linear 2s linear infinite;
}

input[type='checkbox'] {
    accent-color: #4798e6;
}
