@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: theme('colors.primary.DEFAULT');
    --secondary: theme('colors.secondary.DEFAULT');
    --secondary-hover: theme('colors.secondary.hover');
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 100svh;
    width: 100svw;
    max-height: 100svh;
    max-width: 100svw;
    overflow: hidden;
}

#map-container-main {
    width: 100%;
    height: 100svh;
    max-width: 100%;
    max-height: 100svh;
}

/* Z Indexes across app */
/* Collapsible component button also manages its own z index
   currently set at 2
*/
div#side-panel {
    z-index: 1;
}

div#side-panel-control {
    z-index: 1;
}

div#tools {
    z-index: 1;
}

#modal-overlay {
    z-index: 3;
}

#loading-bar {
    z-index: 3;
}

div#scrollable-side-panel {
    max-height: calc(100svh - 250px);
}

div#table-wrapper {
    max-height: calc(100svh - 90px);
}

thead#table-header {
    box-shadow: inset 0 0px 0 #00000000, inset 0 -2px 0 #d1d5db;
}

#date-range-columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

button.mapboxgl-popup-close-button {
    font-size: x-large;
    right: 3px;
}

input[type='checkbox'] {
    accent-color: var(--secondary);
}

input[type='checkbox']:hover,
input[type='checkbox']:active {
    accent-color: var(--secondary-hover);
}

/* Readded hyperlink styling to match web defautls */
a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

a:visited {
    color: purple;
}

a:hover {
    color: darkblue;
    text-decoration: underline;
}

a:active {
    color: red;
}

/* Custom width for when date range inputs need to switch row -> column */
@media (min-width: 1450px) {
    #date-range-columns {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* lg width */
@media (min-width: 1024px) {
    div#scrollable-side-panel {
        height: calc(100svh - 212px);
        max-height: calc(100svh - 212px);
    }

    div#table-wrapper {
        max-height: calc(100svh - 75px);
    }
}

/* Animation for Spinner.tsx */
.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Animation for Linear.tsx */
.animate-linear {
    animation: linear 1s linear infinite;
}

@keyframes linear {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
